body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */
  }
  
  h1 {
    color: #2e4e7e;
  }
  
  #img-div {
    margin-top: 20px;
  }
  
  #main_image {
    max-width: 100%; /* Center and fill the container */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; /* Center the image */
  }
  
  #image {
    max-width: 100%; /* Center and fill the container */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto; /* Center the image */
  }
  
  #img-caption {
    margin-top: 10px;
    font-style: italic;
    color: #777;
    display: block;
  }
  
  #tribute-info {
    margin-top: 20px;
    line-height: 1.6;
  }
  
  #tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2e4e7e;
    text-decoration: none;
    font-weight: bold;
  }
  
  #tribute-link:hover {
    text-decoration: underline;
  }
  