body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
div, fieldset {
    margin-top: 20px;
}

.title {
  max-width: 75%;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.text input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.transport_dropdown label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.transport_dropdown select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transport_dropdown select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.time-of-arr {
  border: none;
  max-width: 300px; /* Adjust the maximum width based on your design */
  margin: auto;
  margin-top: 40px;
  padding: 10px; /* Add padding for better visual appeal */
  }
  
.time-of-arr legend {
  font-weight: bold;
  margin-bottom: 8px;
  margin: auto;
}

.time-of-arr input[type="radio"] {
  margin-right: 5px; /* Add some spacing between radio buttons and labels */
}

.time-of-arr label {
  display: inline-block;
  margin-bottom: 8px;
}

.num_stops {
  border: none;
  max-width: 300px; /* Adjust the maximum width based on your design */
  margin: auto;
  margin-top: 40px;
  padding: 10px; /* Add padding for better visual appeal */
  }
  
.num_stops legend {
  font-weight: bold;
  margin-bottom: 8px;
  margin: auto;
}

.num_stops input[type="radio"] {
  margin-right: 5px; /* Add some spacing between radio buttons and labels */
}

.num_stops label {
  display: inline-block;
  margin-bottom: 8px;
}

.comment_section label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.comment_section textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.comment_section textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 50%;
  }
button:hover {
    background-color: #45a049;
  }
  